.container {
  max-width: 960px;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background-color: #F5F5F5;
}

section.module.parallax {
  height: 700px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#welcome {
  padding-top: 200px;
  padding-right: 50px;
  max-width: 500px;
  float: right;
}
.intro {
  line-height: 100px;
  text-align: center;
}
.web {
  line-height: 100px;
  text-align: right;
}
section.module.parallax h1 {
  font-size: 48px;
  line-height: 70px;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  color: #EEE8AA;
}

section.module.parallax h3 {
  font-size: 48px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #EEE8AA;
}

section.module.parallax-1 {
  background-image: url("001.jpg");
}

section.module.parallax-2 {
  background-image: url("congruent_pentagon.png");
}

section.module.parallax-3 {
  background-image: url("congruent_pentagon.png");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
    color: #20B2AA;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 80px;
    color: white;
  }
   section.module.parallax h3 {
    font-size: 50px;
    color: white;
  }
}

#list {
  max-width: 500px;
}

ul {
  list-style-type: none;
}
li {
  font-size: 20px;
  font-weight: 300;
}